/* shared */
.ErrorContainer, 
.MessageContainer, 
.InformationContainer
 { 
   margin: 10px 0px 10px 0px; 
   text-align: left; 
   padding: 8px 0px 8px 8px; 
   display: block; 
   border: solid 1px; 
 }

/* error container */
.ErrorContainer { border-color:#CC0000; background: #FFEDEF; color: #CC0000; }	
.ErrorContainer p { color: #CC0000; }

/* message container */
.MessageContainer {background: #E3FEB3; border-color: #97D330; color: #5D8F06; }
.MessageContainer p {color: #5D8F06;}

/* information container */
.InformationContainer {background: #f5f5f5; border-color: #C96D01; color: #C96D01;}
.InformationContainer p {color: #C96D01;}

.FlashMessage {position:absolute; top:0px; left: 0px;margin:0px;width:100%;z-index:100;padding-left:0px;padding-right:0px;border-right:0px;}


div.Message_Error,
div.Message_Success,
div.Message_Warning,
div.Message_Info {
   margin: 10px 0px 10px 0px; 
   text-align: left; 
   padding: 8px 0px 8px 8px; 
   display: block; 
   border: solid 1px;  
}

div.Message_Error {background:#FFBABA;color:#D8000C;border-color:#D8000C;}
div.Message_Success {background:#DFF2BF;color:#4F8A10;border-color:#4F8A10;}
div.Message_Warning {background:#FEEFB3;color:#9F6000;border-color:#9F6000;}
div.Message_Info {background:#BDE5F8;color:#00529B;border-color:#00529B;}
